$hue: 0;
$sat: 0%;

// Primary colors
$clr-black: hsl($hue, $sat, 0%);

// Neutral colors
$clr-white: hsl($hue, $sat, 100%);

$fc-base: $clr-black;
$bgc-base: $clr-white;

$fc-primary: $clr-black;
$bgc-primary: $clr-white;
