$font-url: 'https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap';
$font-family: 'Roboto', sans-serif;
$font-size: 1.6rem;

$ff-base: $font-family;
$fs-base: $font-size;

$ff-primary: $font-family;
$fs-primary: $font-size;
